@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: gray; */
    font-family: "Poppins", serif;
}


.welcome-section h3 {
    color: #e53e3e;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .welcome-section h2 {
    font-size: 2.5rem;
    color: #2d3748;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .welcome-section ul li {
    color: #4a5568;
    margin-bottom: 5px;
  }
  